h1 {
  color: #35caa9;
  text-align:center;
  font-family: "Times New Roman", "Lucida Console";
}

button {
  color: green;
  font-family: Arial, "Lucida Console";
}

twitch {
  color: purple;
}

wwf {
  color: green;
}

amazon {
  color: yellow;
}
